 
  table {
    border-collapse: collapse;
    border: 1px solid #d1d1b1;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
  
  table, th, td {
    /*border: 1px solid black;*/
    padding: 5px;
  }
  
  th{
    background-color: #33ccff;
    height: 40px;
    vertical-align: middle;
    color: #ffffff;
    font-size: 150%;
  }
  
  table tr {
    border-bottom: 1px solid #d1d1b1;
  }
  
  hr{
    margin: 20px;
    }
  
  p a {
    font-style: italic;
  }

  h1 {
    text-align: center;
  }